{% extends "aldairdportfolio/base.html" %}
{% load static %}
{% block title %}Portfolio{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Hello, I'm Aldair Diaz!</h1>
    <p class="lead">I am a Software Engineer</p>
    <hr class="my-4">
    <p>Here are some of my projects:</p>
</div>
    <div class="row">
    {# todo: replace this with a for #}
        <div class="col-md-4">
            <div class="card">
                <img src="{% static 'aldairdportfolio/project1.jpg' %}" class="card-img-top" alt="Image of project 1">
                <div class="card-body">
                    <h5 class="card-title">Project 1</h5>
                    <p class="card-text">Description of project 1</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}